

body {
	background: linear-gradient(to right,  #2b40ff,#07121a);
}

.mainContainer {
   			min-height: 400px;
			max-width: 370px;
			background: linear-gradient(to right,#07121a, #2b40ff);
			border: 3px solid gray;
			border-radius: 2rem;
			margin: 0 2rem;
			padding: 30px 60px;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: 1.5rem;
			margin-left: 34%;
			color: white;
			transition: 0.4s ease-in-out;
}
.mainContainer:hover{
			box-shadow:gray 20px 20px 20px;
		}

.searchInput {
   				/*width: 100%;
			    height: 50px;
			    font-size: 1.8rem;
			    border-radius: 2rem;
			    border: 2px solid gray;
			    margin: 1.5rem 0;
			    resize: 0;
			    background: white;*/
}

.searchInput input {
width: 100%;
			    height: 50px;
			    padding: .5rem;
			    font-size: 1.8rem;
			    border-radius: 2rem;
			    border: 2px solid gray;
			    margin: 1.5rem 0;
			    resize: 0;
}

.searchInput input:focus {
  border: 1px solid #9c9dde;
}

.searchInput button {
  
  	display: inline-block;
		    padding: 1rem 2.8rem;
		    background: cadetblue;
		    box-shadow:0 0 25px gray; 
		    border-radius: 4rem;
		    font-size: 1.6rem;
		    color: black;
		    border: 2px solid transparent;
		    letter-spacing: 0.1rem;
		    font-weight: 600;
		    transition: 0.3s ease-in-out;
		    cursor: pointer;
			align-items: center;
}

.searchInput button:hover {
  color: black;
  
  background-color: #9c9dde;
  border: 1px solid #9c9dde;
}

.weatherIcon {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.weatherIcon img {
  max-width: 100%;
  width: 8rem;
  border-radius: 100%;
}

.weatherDetails .temp{
 font-size: 2rem;
}
.cityDetails {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.cityDetails .date {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.windDetails {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  justify-content: space-around;
}

.windDetails .humidityBox {
  display: flex;
  font-size: 1rem;
  color: black;
}

.windDetails .humidity .humidityValue {
 text-align: center;
  font-size: 2rem;
  color: black;
}

.windDetails .humidityBox img {
  max-height: 3rem;
  margin-right: 0.5rem;
}

.windDetails .windSpeed {
  display: flex;
  font-size: 1rem;
  color: black;
}

.windDetails .windSpeed img {
  max-height: 3rem;
  margin-right: 0.5rem;
}


image-logo{
        height: auto;
        width: auto;
        filter: drop-shadow(20px 10px 10px black);
      }
      #mainh1{
		  
		 align-items: center;
		 font-size: 2.5rem;
		 justify-content:center;
		 margin-left: 34%;
	  }
      